# Dependencies
node_modules/
venv/
.venv/

# Next.js
.next/
out/
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*
!.env.example

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel
